nav {
    background-color: rgb(0, 0, 0);
  }
  body {
    background-color: black;
    color: white;
  }
  .parent {
    text-align: center;
    margin-top: 50px;
  }
  .col {
    padding-bottom:8em ;
  }
  #itemeshop:hover {
    opacity: 50%;
    transition: 0.75s;
  }
  #boutonprix {
    background-color: black;
    color: white;
    border: none;
  }
  #boutonprix:hover {
    opacity: 50%;
    transition: 0.75s;
  }
  #itemcol {
    background-color: black;
}